@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  border-radius: 0;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("☺"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.eot");
  src: local("☺"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.field-error__icon, .counter__btn, .button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.rating-stars {
  display: flex;
  align-items: center;
  line-height: 0.75;
}
.rating-stars__body {
  display: flex;
  align-items: center;
  position: relative;
}
.rating-stars__body:after {
  content: "★★★★★";
  display: block;
  font-size: 26px;
  color: #222222;
}
.rating-stars__active {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating-stars__active:after {
  content: "★★★★★";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 26px;
  color: #e9e904;
}
.rating-stars__items {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.rating-stars__item {
  flex: 0 0 20%;
  opacity: 0;
}
.rating-stars__value {
  padding-left: 10px;
  font-size: 16px;
}

.button {
  padding-right: 25px;
  padding-left: 25px;
  min-height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  /* Если меньше контейнера */
  border-radius: 16px;
  background-color: #0075FF;
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1230px) {
  .button {
    border-radius: calc(9px + 7 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .button {
    font-size: calc(14px + 2 * ((100vw - 320px) / 910));
  }
}
@media (any-hover: hover) {
  .button {
    transition: background-color 0.3s ease 0s;
  }
  .button:hover {
    background-color: #0269df;
  }
  .button:hover .button__tooltip {
    opacity: 1;
  }
  .button:active {
    transform: translateY(2px);
  }
  .button .button__tooltip {
    transition: opacity 0.3s ease 0s;
  }
}
.button__text {
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 600;
  line-height: 106.25%;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
@media (max-width: 1230px) {
  .button__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 910));
  }
}
.button__text:not(:last-child) {
  margin-right: 10px;
}
.button__tooltip {
  margin-bottom: 15px;
  padding: 6px 12px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  border-radius: 6px;
  transform: translateX(-50%);
  background-color: #555;
  overflow-wrap: anywhere;
  font-size: 13px;
  color: #fff;
}
.button__tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

._burger {
  /* Если меньше контейнера */
  min-width: 35px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}
@media (max-width: 1230px) {
  ._burger {
    min-width: calc(30px + 5 * ((100vw - 320px) / 910));
  }
}
@media (any-hover: hover) {
  ._burger:hover span {
    background-color: #0269df;
  }
  ._burger:hover span:before, ._burger:hover span:after {
    content: "";
    background-color: #0269df;
  }
}
._burger span {
  /* Если меньше контейнера */
  width: 35px;
  height: 5px;
  position: relative;
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out 0s;
  background-color: #0075FF;
}
@media (max-width: 1230px) {
  ._burger span {
    width: calc(30px + 5 * ((100vw - 320px) / 910));
  }
}
._burger span:before, ._burger span:after {
  content: "";
  /* Если меньше контейнера */
  width: 35px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
  background-color: #0075FF;
}
@media (max-width: 1230px) {
  ._burger span:before, ._burger span:after {
    width: calc(30px + 5 * ((100vw - 320px) / 910));
  }
}
._burger span:before {
  top: -11px;
}
._burger span:after {
  top: 11px;
}
._burger._active span {
  background-color: transparent;
}
._burger._active span:before {
  transform: rotate(45deg) translate(5px, 10px);
}
._burger._active span:after {
  transform: rotate(-45deg) translate(5px, -10px);
}

._close {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}
@media (any-hover: hover) {
  ._close:hover:before, ._close:hover:after {
    background-color: #383838;
  }
}
._close:before, ._close:after {
  content: "";
  width: 20px;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #222;
}
@media (any-hover: hover) {
  ._close:before, ._close:after {
    transition: background-color 0.2s ease 0s;
  }
}
._close:before {
  transform: rotate(45deg);
}
._close:after {
  transform: rotate(-45deg);
}

.counter {
  display: flex;
  align-items: center;
}
.counter__btn {
  /* Если меньше контейнера */
  width: 30px;
  /* Если меньше контейнера */
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  text-align: center;
  white-space: nowrap;
  /* Если меньше контейнера */
  font-size: 26px;
  color: #fff;
}
@media (max-width: 1230px) {
  .counter__btn {
    width: calc(25px + 5 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .counter__btn {
    height: calc(25px + 5 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .counter__btn {
    font-size: calc(20px + 6 * ((100vw - 320px) / 910));
  }
}
@media (any-hover: hover) {
  .counter__btn {
    transition: background-color 0.2s ease 0s;
  }
  .counter__btn:hover {
    background-color: rgb(48, 48, 48);
  }
}
.counter__btn_disabled {
  opacity: 0.7;
  pointer-events: none;
}
.counter__input {
  /* Если меньше контейнера */
  width: 30px;
  /* Если меньше контейнера */
  height: 30px;
  text-align: center;
}
@media (max-width: 1230px) {
  .counter__input {
    width: calc(25px + 5 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .counter__input {
    height: calc(25px + 5 * ((100vw - 320px) / 910));
  }
}

.field {
  padding: 300px 0px;
}
.field__item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.field__item ._invalid {
  border-color: #db2121;
  color: #db2121;
}
.field__item ._invalid::-moz-placeholder {
  color: #db2121;
}
.field__item ._invalid:-ms-input-placeholder {
  color: #db2121;
}
.field__item ._invalid::placeholder {
  color: #db2121;
}
.field__item:not(:last-child) {
  margin-bottom: 20px;
}
.field__item_checkbox .field__error {
  top: 0px;
  right: 5px;
}
.field__input {
  padding: 0px 15px;
  width: 100%;
  min-height: 45px;
  border: 1px solid #7B848D;
  transition: border-color 0.2s ease 0s;
  background-color: transparent;
  font-size: 14px;
  color: #ffffff;
}
.field__input::-moz-placeholder {
  -moz-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
  font-size: 14px;
  color: #7B848D;
}
.field__input:-ms-input-placeholder {
  -ms-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
  font-size: 14px;
  color: #7B848D;
}
.field__input::placeholder {
  transition: opacity 0.2s ease 0s;
  font-size: 14px;
  color: #7B848D;
}
.field__input:focus {
  border: 1px solid #ffffff;
}
.field__input:focus::-moz-placeholder {
  opacity: 0;
}
.field__input:focus:-ms-input-placeholder {
  opacity: 0;
}
.field__input:focus::placeholder {
  opacity: 0;
}
.field__textarea {
  padding: 15px;
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  border: 1px solid #7B848D;
  transition: border-color 0.2s ease 0s;
  background-color: transparent;
  font-size: 14px;
  color: #ffffff;
}
.field__textarea::-moz-placeholder {
  -moz-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
  font-size: 14px;
  color: #7B848D;
}
.field__textarea:-ms-input-placeholder {
  -ms-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
  font-size: 14px;
  color: #7B848D;
}
.field__textarea::placeholder {
  transition: opacity 0.2s ease 0s;
  font-size: 14px;
  color: #7B848D;
}
.field__textarea:focus {
  border: 1px solid #ffffff;
}
.field__textarea:focus::-moz-placeholder {
  opacity: 0;
}
.field__textarea:focus:-ms-input-placeholder {
  opacity: 0;
}
.field__textarea:focus::placeholder {
  opacity: 0;
}
.field__error {
  position: absolute;
  top: 12.5px;
  right: 12.5px;
  z-index: 5;
}
@media (any-hover: hover) {
  .field__error:hover .field-error__dropdown {
    opacity: 1;
  }
}
.field__checkbox {
  display: none;
}
.field__checkbox:checked + .field__checkbox-label:after {
  transform: scale(1);
}
.field__checkbox-label {
  max-width: 90%;
  padding-left: 35px;
  line-height: 128.5714285714%;
  font-size: 14px;
}
.field__checkbox-label:before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0px;
  left: 0;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
  background-color: #fff;
}
.field__checkbox-label:after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: 3px;
  pointer-events: none;
  border-radius: 2px;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #0075FF;
}

.field-error__icon {
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: help;
  border-radius: 50%;
  background-color: #db2121;
  text-align: center;
  color: #fff;
  font-size: 13px;
}
@media (any-hover: none) {
  .field-error__icon:before {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    background-color: transparent;
  }
}
.field-error__dropdown {
  padding: 7px 14px;
  max-width: 180px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 10px;
  position: absolute;
  bottom: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease 0s;
  border-radius: 4px;
  background-color: rgba(68, 68, 68, 0.9);
  overflow-wrap: anywhere;
  line-height: 133.3333333333%;
  font-size: 12px;
  color: #fff;
}
.field-error__dropdown:before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 100%;
  border: 6px solid transparent;
  border-top: 6px solid rgba(68, 68, 68, 0.9);
  background-color: transparent;
}
@media (min-width: 1350px) {
  .field-error__dropdown {
    left: 50%;
    transform: translateX(-50%);
  }
  .field-error__dropdown:before {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 1350px) {
  .field-error__dropdown {
    margin-right: -20px;
    right: 0;
  }
  .field-error__dropdown:before {
    right: 25px;
  }
}
@media (any-hover: none) {
  .field-error__dropdown._active {
    opacity: 1;
  }
}

body {
  background-color: #151718;
  font-family: "Gilroy";
  color: #fff;
  font-size: 14px;
}
body._lock-scroll {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}

._container {
  padding: 0px 15px 0px 15px;
  margin: 0px auto;
  max-width: 1230px;
}

@media (min-width: 992.2px) {
  .header._scroll .header__wrapper,
.header._scroll .header__body {
    /* Если меньше контейнера */
    min-height: 90px;
  }
}
@media (min-width: 992.2px) and (max-width: 1230px) {
  .header._scroll .header__wrapper,
.header._scroll .header__body {
    min-height: calc(70px + 20 * ((100vw - 320px) / 910));
  }
}
.header__wrapper {
  width: 100%;
  /* Если меньше контейнера */
  min-height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
@media (max-width: 1230px) {
  .header__wrapper {
    min-height: calc(70px + 50 * ((100vw - 320px) / 910));
  }
}
.header__wrapper:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 30;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
@media (max-width: 992.2px) {
  .header__wrapper:before {
    content: "";
    width: 100%;
    /* Если меньше контейнера */
    min-height: 120px;
    position: absolute;
    top: -1px;
    left: -100%;
    z-index: 60;
    transition: left 0.3s ease 0s;
    background-color: #151718;
  }
}
@media (max-width: 992.2px) and (max-width: 1230px) {
  .header__wrapper:before {
    min-height: calc(70px + 50 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 992.2px) {
  .header__wrapper._active:before {
    left: 0%;
  }
}
.header__body {
  padding: 10px 0px;
  /* Если меньше контейнера */
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 1230px) {
  .header__body {
    min-height: calc(70px + 50 * ((100vw - 320px) / 910));
  }
}
.header__body:after {
  content: "";
  margin-top: -1px;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 60;
  background-color: rgba(255, 255, 255, 0.1);
}
@media (min-width: 992.2px) {
  .header__body {
    transition: min-height 0.5s ease 0s;
  }
}
.header__logo {
  /* Если меньше контейнера */
  width: 185px;
  position: relative;
  z-index: 70;
}
@media (max-width: 1230px) {
  .header__logo {
    width: calc(125px + 60 * ((100vw - 320px) / 910));
  }
}
.header__logo img {
  max-width: 100%;
}
.header__logo:not(:last-child) {
  margin-right: 15px;
}
.header__actions {
  display: flex;
  align-items: center;
}

@media (min-width: 992.2px) {
  .header-actions__menu {
    position: relative;
    z-index: 70;
    order: 1;
  }
  .header-actions__menu:not(:last-child) {
    /* Если меньше контейнера */
    margin-right: 60px;
  }
}
@media (min-width: 992.2px) and (max-width: 1230px) {
  .header-actions__menu:not(:last-child) {
    margin-right: calc(10px + 50 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 992.2px) {
  .header-actions__menu {
    /* Если меньше контейнера */
    padding-top: 140px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    overflow: auto;
    pointer-events: none;
    z-index: 50;
    transition: left 0.3s ease 0s;
    background-color: #151718;
  }
}
@media (max-width: 992.2px) and (max-width: 1230px) {
  .header-actions__menu {
    padding-top: calc(90px + 50 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 992.2px) {
  .header-actions__menu._active {
    left: 0;
    pointer-events: auto;
  }
}
.header-actions__icons {
  display: flex;
  align-items: center;
}
@media (min-width: 992.2px) {
  .header-actions__icons:not(:last-child) {
    /* Если меньше контейнера */
    margin-right: 60px;
  }
}
@media (min-width: 992.2px) and (max-width: 1230px) {
  .header-actions__icons:not(:last-child) {
    margin-right: calc(10px + 50 * ((100vw - 320px) / 910));
  }
}
@media (min-width: 552.2px) {
  .header-actions__icons {
    order: 2;
    position: relative;
    z-index: 70;
  }
}
@media (max-width: 992.2px) and (min-width: 552.2px) {
  .header-actions__icons:not(:last-child) {
    /* Если меньше контейнера */
    margin-right: 30px;
  }
}
@media (max-width: 992.2px) and (min-width: 552.2px) and (max-width: 1230px) {
  .header-actions__icons:not(:last-child) {
    margin-right: calc(15px + 15 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 552.2px) {
  .header-actions__icons:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 425.2px) {
  .header-actions__button {
    order: 3;
    position: relative;
    z-index: 70;
  }
  .header-actions__button:not(:last-child) {
    /* Если меньше контейнера */
    margin-right: 30px;
  }
}
@media (min-width: 425.2px) and (max-width: 1230px) {
  .header-actions__button:not(:last-child) {
    margin-right: calc(15px + 15 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 425.2px) {
  .header-actions__button:not(:last-child) {
    margin-bottom: 30px;
  }
}
.header-actions__burger {
  order: 4;
  position: relative;
  z-index: 60;
}
@media (min-width: 992.2px) {
  .header-actions__burger {
    display: none;
  }
}

.header-menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 992.2px) {
  .header-menu__list {
    width: 100%;
    flex-direction: column;
  }
  .header-menu__list:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (min-width: 992.2px) {
  .header-menu__list-item:not(:last-child) {
    /* Если меньше контейнера */
    margin-right: 60px;
  }
}
@media (min-width: 992.2px) and (max-width: 1230px) {
  .header-menu__list-item:not(:last-child) {
    margin-right: calc(15px + 45 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 992.2px) {
  .header-menu__list-item {
    width: 100%;
  }
}
.header-menu__list-link {
  padding: 5px 0px;
  position: relative;
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
@media (max-width: 1230px) {
  .header-menu__list-link {
    font-size: calc(14px + 2 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 992.2px) {
  .header-menu__list-link {
    padding: 15px 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
  }
}
@media (any-hover: hover) and (min-width: 992.2px) {
  .header-menu__list-link:after {
    content: "";
    width: 0%;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 50%;
    pointer-events: none;
    transition: width 0.3s ease 0s;
    transform: translateX(-50%);
    background-color: #0075FF;
  }
  .header-menu__list-link:hover:after {
    width: 100%;
  }
}

.header-icons__item:not(:last-child) {
  margin-right: 15px;
}
@media (any-hover: hover) {
  .header-icons__item {
    transition: transform 0.2s ease 0s;
  }
  .header-icons__item:hover {
    transform: translateY(-3px);
  }
}

.modal-wrapper__popup {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease 0s;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 480.2px) {
  .modal-wrapper__popup {
    padding: 20px;
  }
}
.modal-wrapper__popup._active {
  opacity: 1;
  pointer-events: auto;
}
.modal-wrapper__popup._active .popup__body {
  opacity: 1;
  transform: scale(1);
}

.popup__body {
  margin: auto;
  max-width: 420px;
  width: 100%;
  box-shadow: 0px 0px 50px rgba(27, 27, 27, 0.9);
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  background-color: #1C1E20;
}
@media (min-width: 480.2px) {
  .popup__body {
    border-radius: 8px;
  }
}
@media (max-width: 480.2px) {
  .popup__body {
    margin: 0;
    max-width: none;
    height: 100%;
  }
}
.popup__top {
  padding: 10px 15px;
  width: 100%;
  /* Если меньше контейнера */
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #353535;
  background-color: #1C1E20;
}
@media (max-width: 1230px) {
  .popup__top {
    min-height: calc(60px + 10 * ((100vw - 320px) / 910));
  }
}
@media (min-width: 480.2px) {
  .popup__top {
    border-radius: 8px 8px 0px 0px;
  }
}
@media (max-width: 480.2px) {
  .popup__top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
  }
}
.popup__title {
  max-width: 80%;
  text-transform: uppercase;
  /* Если меньше контейнера */
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-align: left;
  color: #fff;
}
@media (max-width: 1230px) {
  .popup__title {
    font-size: calc(16px + 2 * ((100vw - 320px) / 910));
  }
}
.popup__title:not(:last-child) {
  margin-right: 25px;
}
.popup__close {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}
.popup__close:before, .popup__close:after {
  content: "";
  width: 20px;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fff;
}
.popup__close:before {
  transform: rotate(45deg);
}
.popup__close:after {
  transform: rotate(-45deg);
}
.popup__content {
  /* Если меньше контейнера */
  padding-top: 30px;
  /* Если меньше контейнера */
  padding-bottom: 30px;
  /* Если меньше контейнера */
  padding-right: 20px;
  /* Если меньше контейнера */
  padding-left: 20px;
}
@media (max-width: 1230px) {
  .popup__content {
    padding-top: calc(20px + 10 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .popup__content {
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .popup__content {
    padding-right: calc(15px + 5 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .popup__content {
    padding-left: calc(15px + 5 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 480.2px) {
  .popup__content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.popup-content__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-content__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.popup-content__items:not(:last-child) {
  margin-bottom: 15px;
}
.popup-content__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.popup-content__row:not(:last-child) {
  margin-bottom: 15px;
}
.popup-content__send {
  padding-right: 45px;
  padding-left: 45px;
  /* Если меньше контейнера */
  min-height: 50px;
}
@media (max-width: 1230px) {
  .popup-content__send {
    min-height: calc(40px + 10 * ((100vw - 320px) / 910));
  }
}

.popup-row__item:not(:last-child) {
  margin-right: 15px;
}
.popup-row__link {
  background-color: transparent;
  /* Если меньше контейнера */
  font-size: 14px;
  line-height: 137.5%;
  color: #fff;
}
@media (max-width: 1230px) {
  .popup-row__link {
    font-size: calc(12px + 2 * ((100vw - 320px) / 910));
  }
}

.start__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start__column {
  /* Если меньше контейнера */
  gap: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 285px));
  justify-content: center;
}
@media (max-width: 1230px) {
  .start__column {
    gap: calc(8px + 12 * ((100vw - 320px) / 910));
  }
}
.start__column:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 40px;
}
@media (max-width: 1230px) {
  .start__column:not(:last-child) {
    margin-bottom: calc(25px + 15 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 768.2px) {
  .start__column {
    grid-template-columns: repeat(2, minmax(auto, 285px));
  }
}
.start__button {
  /* Если меньше контейнера */
  padding-right: 50px;
  /* Если меньше контейнера */
  padding-left: 50px;
  min-height: 50px;
}
@media (max-width: 1230px) {
  .start__button {
    padding-right: calc(40px + 10 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .start__button {
    padding-left: calc(40px + 10 * ((100vw - 320px) / 910));
  }
}

.start-column__card {
  /* Если меньше контейнера */
  padding-bottom: 20px;
  overflow: hidden;
  border: 1px solid #373D40;
  /* Если меньше контейнера */
  border-radius: 30px;
}
@media (max-width: 1230px) {
  .start-column__card {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .start-column__card {
    border-radius: calc(15px + 15 * ((100vw - 320px) / 910));
  }
}
@media (any-hover: hover) {
  .start-column__card {
    transition: transform 0.3s ease 0s;
  }
  .start-column__card:hover {
    transform: translateY(-5px);
  }
}
.start-column__card_blue {
  background: linear-gradient(180deg, #0075FF 0%, rgba(0, 71, 154, 0) 100%), #151718;
}
.start-column__card_orange {
  background: linear-gradient(180deg, #FF8A00 0%, rgba(158, 86, 0, 0) 100%), #151718;
}
.start-column__card_green {
  background: linear-gradient(180deg, #00BE6E 0%, rgba(0, 147, 85, 0) 100%), #151718;
}
.start-column__card_pink {
  background: linear-gradient(180deg, #DB00FF 0%, rgba(140, 0, 163, 0) 100%), #151718;
}
.start-column__text-block {
  /* Если меньше контейнера */
  padding-top: 30px;
  /* Если меньше контейнера */
  padding-left: 30px;
  /* Если меньше контейнера */
  padding-right: 30px;
  /* Если меньше контейнера */
  padding-bottom: 20px;
}
@media (max-width: 1230px) {
  .start-column__text-block {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .start-column__text-block {
    padding-left: calc(15px + 15 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .start-column__text-block {
    padding-right: calc(15px + 15 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .start-column__text-block {
    padding-bottom: calc(5px + 15 * ((100vw - 320px) / 910));
  }
}
.start-column__image img {
  max-width: 100%;
}
.start-column__title {
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 400;
  line-height: 118.75%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1230px) {
  .start-column__title {
    font-size: calc(10px + 6 * ((100vw - 320px) / 910));
  }
}
.start-column__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 10px;
}
@media (max-width: 1230px) {
  .start-column__title:not(:last-child) {
    margin-bottom: calc(3px + 7 * ((100vw - 320px) / 910));
  }
}
.start-column__text {
  /* Если меньше контейнера */
  font-size: 26px;
  font-weight: 600;
  line-height: 123.0769230769%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1230px) {
  .start-column__text {
    font-size: calc(16px + 10 * ((100vw - 320px) / 910));
  }
}

.column__body {
  /* Если меньше контейнера */
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1230px) {
  .column__body {
    gap: calc(10px + 10 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 768.2px) {
  .column__body {
    row-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.column__item {
  /* Если меньше контейнера */
  padding: 30px;
  background: #1C1E20;
  border: 1px solid #373D40;
  /* Если меньше контейнера */
  border-radius: 30px;
}
@media (max-width: 1230px) {
  .column__item {
    padding: calc(15px + 15 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .column__item {
    border-radius: calc(15px + 15 * ((100vw - 320px) / 910));
  }
}

.column-item__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column-item__header:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 30px;
}
@media (max-width: 1230px) {
  .column-item__header:not(:last-child) {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 910));
  }
}
.column-item__row {
  width: 100%;
}
.column-item__form {
  width: 100%;
}
.column-item__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.column-item__field:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 30px;
}
@media (max-width: 1230px) {
  .column-item__field:not(:last-child) {
    margin-bottom: calc(25px + 5 * ((100vw - 320px) / 910));
  }
}
.column-item__footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.column-item__user {
  width: 100%;
  display: flex;
  align-items: center;
}
.column-item__user:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 50px;
}
@media (max-width: 1230px) {
  .column-item__user:not(:last-child) {
    margin-bottom: calc(25px + 25 * ((100vw - 320px) / 910));
  }
}
.column-item__list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.column-item__list:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 50px;
}
@media (max-width: 1230px) {
  .column-item__list:not(:last-child) {
    margin-bottom: calc(25px + 25 * ((100vw - 320px) / 910));
  }
}
.column-item__buttons {
  width: 100%;
  display: flex;
  align-items: center;
}
.column-item__awards {
  width: 100%;
  display: flex;
  align-items: center;
}
.column-item__awards:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 40px;
}
@media (max-width: 1230px) {
  .column-item__awards:not(:last-child) {
    margin-bottom: calc(30px + 10 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 480.2px) {
  .column-item__awards {
    flex-direction: column;
  }
}
.column-item__blocks {
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 992.2px) and (min-width: 768.2px) {
  .column-item__blocks {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 552.2px) {
  .column-item__blocks {
    grid-template-columns: repeat(1, 1fr);
  }
}

.column-item-header__title {
  /* Если меньше контейнера */
  font-size: 22px;
  font-weight: 400;
  line-height: 118.1818181818%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1230px) {
  .column-item-header__title {
    font-size: calc(18px + 4 * ((100vw - 320px) / 910));
  }
}
.column-item-header__title:not(:last-child) {
  margin-right: 15px;
}
.column-item-header__title-bold {
  font-weight: 600;
}
.column-item-header__label {
  /* Если меньше контейнера */
  padding: 12px;
  /* Если меньше контейнера */
  max-width: 190px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #373D40;
  /* Если меньше контейнера */
  border-radius: 16px;
}
@media (max-width: 1230px) {
  .column-item-header__label {
    padding: calc(6px + 6 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .column-item-header__label {
    max-width: calc(80px + 110 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .column-item-header__label {
    border-radius: calc(8px + 8 * ((100vw - 320px) / 910));
  }
}
.column-item-header__label-icon {
  /* Если меньше контейнера */
  width: 36px;
  /* Если меньше контейнера */
  height: 36px;
  display: block;
  border-radius: 50%;
}
@media (max-width: 1230px) {
  .column-item-header__label-icon {
    width: calc(20px + 16 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .column-item-header__label-icon {
    height: calc(20px + 16 * ((100vw - 320px) / 910));
  }
}
.column-item-header__label-icon img {
  max-width: 100%;
}
.column-item-header__label-icon:not(:last-child) {
  margin-right: 10px;
}
.column-item-header__label-text {
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1230px) {
  .column-item-header__label-text {
    font-size: calc(12px + 4 * ((100vw - 320px) / 910));
  }
}

.column-item-field__item {
  /* Если меньше контейнера */
  padding: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  /* Если меньше контейнера */
  border-radius: 16px;
  background-color: #2C2F32;
}
@media (max-width: 1230px) {
  .column-item-field__item {
    padding: calc(15px + 10 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .column-item-field__item {
    border-radius: calc(8px + 8 * ((100vw - 320px) / 910));
  }
}
.column-item-field__item:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 25px;
}
@media (max-width: 1230px) {
  .column-item-field__item:not(:last-child) {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 910));
  }
}
.column-item-field__text {
  flex: 1 1 100%;
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 400;
  line-height: 118.75%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1230px) {
  .column-item-field__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 910));
  }
}
.column-item-field__text:not(:last-child) {
  margin-right: 15px;
}
.column-item-field__input {
  max-width: 80px;
  background-color: transparent;
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 400;
  line-height: 118.75%;
  letter-spacing: 0em;
  text-align: right;
  color: #fff;
}
@media (max-width: 1230px) {
  .column-item-field__input {
    font-size: calc(14px + 2 * ((100vw - 320px) / 910));
  }
}
.column-item-field__input::-moz-placeholder {
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 400;
  line-height: 118.75%;
  letter-spacing: 0em;
  text-align: right;
  color: #7B848D;
}
.column-item-field__input:-ms-input-placeholder {
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 400;
  line-height: 118.75%;
  letter-spacing: 0em;
  text-align: right;
  color: #7B848D;
}
.column-item-field__input::placeholder {
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 400;
  line-height: 118.75%;
  letter-spacing: 0em;
  text-align: right;
  color: #7B848D;
}
@media (max-width: 1230px) {
  .column-item-field__input::-moz-placeholder {
    font-size: calc(14px + 2 * ((100vw - 320px) / 910));
  }
  .column-item-field__input:-ms-input-placeholder {
    font-size: calc(14px + 2 * ((100vw - 320px) / 910));
  }
  .column-item-field__input::placeholder {
    font-size: calc(14px + 2 * ((100vw - 320px) / 910));
  }
}
.column-item-field__percents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-item-percents__button {
  /* Если меньше контейнера */
  padding-right: 25px;
  /* Если меньше контейнера */
  padding-left: 25px;
  background-color: transparent;
  /* Если меньше контейнера */
  font-size: 14px;
  font-weight: 400;
  line-height: 121.4285714286%;
  letter-spacing: 0em;
  text-align: left;
  color: #7B848D;
  text-decoration: underline;
}
@media (max-width: 1230px) {
  .column-item-percents__button {
    padding-right: calc(15px + 10 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .column-item-percents__button {
    padding-left: calc(15px + 10 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .column-item-percents__button {
    font-size: calc(12px + 2 * ((100vw - 320px) / 910));
  }
}
@media (any-hover: hover) {
  .column-item-percents__button {
    transition: color 0.2s ease 0s;
  }
  .column-item-percents__button:hover {
    color: #fff;
  }
}

.column-item-footer__send {
  /* Если меньше контейнера */
  padding-right: 25px;
  /* Если меньше контейнера */
  padding-left: 25px;
  white-space: nowrap;
}
@media (max-width: 1230px) {
  .column-item-footer__send {
    padding-right: calc(15px + 10 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .column-item-footer__send {
    padding-left: calc(15px + 10 * ((100vw - 320px) / 910));
  }
}
.column-item-footer__send:not(:last-child) {
  /* Если меньше контейнера */
  margin-right: 80px;
  position: relative;
}
@media (max-width: 1230px) {
  .column-item-footer__send:not(:last-child) {
    margin-right: calc(30px + 50 * ((100vw - 320px) / 910));
  }
}
.column-item-footer__send:not(:last-child):after {
  content: "";
  /* Если меньше контейнера */
  margin-left: 45px;
  width: 1px;
  /* Если меньше контейнера */
  height: 52px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  background-color: #303539;
}
@media (max-width: 1230px) {
  .column-item-footer__send:not(:last-child):after {
    margin-left: calc(15px + 30 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .column-item-footer__send:not(:last-child):after {
    height: calc(32px + 20 * ((100vw - 320px) / 910));
  }
}
.column-item-footer__send_green {
  background-color: #00BE6E;
}
@media (any-hover: hover) {
  .column-item-footer__send_green {
    transition: background-color 0.3s ease 0s;
  }
  .column-item-footer__send_green:hover {
    background-color: #03aa64;
  }
}
.column-item-footer__send_red {
  background-color: #FF003D;
}
@media (any-hover: hover) {
  .column-item-footer__send_red {
    transition: background-color 0.3s ease 0s;
  }
  .column-item-footer__send_red:hover {
    background-color: #e70137;
  }
}
.column-item-footer__send_red .column-item-footer__button-icon {
  transform: rotate(180deg);
}
.column-item-footer__text {
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 400;
  line-height: 118.75%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1230px) {
  .column-item-footer__text {
    font-size: calc(10px + 6 * ((100vw - 320px) / 910));
  }
}
.column-item-footer__text:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 5px;
}
@media (max-width: 1230px) {
  .column-item-footer__text:not(:last-child) {
    margin-bottom: calc(2px + 3 * ((100vw - 320px) / 910));
  }
}
.column-item-footer__percent {
  /* Если меньше контейнера */
  font-size: 22px;
  font-weight: 600;
  line-height: 122.7272727273%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1230px) {
  .column-item-footer__percent {
    font-size: calc(12px + 10 * ((100vw - 320px) / 910));
  }
}

.column-item-user__icon {
  /* Если меньше контейнера */
  width: 63px;
  /* Если меньше контейнера */
  height: 63px;
  display: block;
  border-radius: 50%;
}
@media (max-width: 1230px) {
  .column-item-user__icon {
    width: calc(36px + 27 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .column-item-user__icon {
    height: calc(36px + 27 * ((100vw - 320px) / 910));
  }
}
.column-item-user__icon img {
  max-width: 100%;
}
.column-item-user__icon:not(:last-child) {
  margin-right: 20px;
}
.column-item-user__text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.column-item-user__name {
  overflow-wrap: anywhere;
  /* Если меньше контейнера */
  font-size: 22px;
  font-weight: 600;
  line-height: 122.7272727273%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1230px) {
  .column-item-user__name {
    font-size: calc(16px + 6 * ((100vw - 320px) / 910));
  }
}
.column-item-user__name:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 7px;
}
@media (max-width: 1230px) {
  .column-item-user__name:not(:last-child) {
    margin-bottom: calc(3px + 4 * ((100vw - 320px) / 910));
  }
}
.column-item-user__code {
  overflow-wrap: anywhere;
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 400;
  line-height: 118.75%;
  letter-spacing: 0em;
  text-align: left;
  color: #7B848D;
}
@media (max-width: 1230px) {
  .column-item-user__code {
    font-size: calc(14px + 2 * ((100vw - 320px) / 910));
  }
}

.column-item-list__paragraph {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column-item-list__paragraph:not(:last-child) {
  /* Если меньше контейнера */
  padding-bottom: 30px;
  /* Если меньше контейнера */
  margin-bottom: 30px;
  border-bottom: 1px solid #373D40;
}
@media (max-width: 1230px) {
  .column-item-list__paragraph:not(:last-child) {
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .column-item-list__paragraph:not(:last-child) {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 910));
  }
}
.column-item-list__text {
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 400;
  line-height: 118.75%;
  letter-spacing: 0em;
  text-align: right;
}
@media (max-width: 1230px) {
  .column-item-list__text {
    font-size: calc(12px + 4 * ((100vw - 320px) / 910));
  }
}
.column-item-list__text:not(:last-child) {
  /* Если меньше контейнера */
  margin-right: 20px;
}
@media (max-width: 1230px) {
  .column-item-list__text:not(:last-child) {
    margin-right: calc(12px + 8 * ((100vw - 320px) / 910));
  }
}
.column-item-list__action {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.column-item-list__text-bold {
  /* Если меньше контейнера */
  font-size: 22px;
  font-weight: 600;
  line-height: 122.7272727273%;
  letter-spacing: 0em;
  text-align: right;
}
@media (max-width: 1230px) {
  .column-item-list__text-bold {
    font-size: calc(16px + 6 * ((100vw - 320px) / 910));
  }
}
.column-item-list__button {
  /* Если меньше контейнера */
  width: 40px;
  /* Если меньше контейнера */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #373D40;
  /* Если меньше контейнера */
  font-size: 22px;
  color: #0075FF;
}
@media (max-width: 1230px) {
  .column-item-list__button {
    width: calc(22px + 18 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .column-item-list__button {
    height: calc(22px + 18 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .column-item-list__button {
    font-size: calc(12px + 10 * ((100vw - 320px) / 910));
  }
}
.column-item-list__button img {
  /* Если меньше контейнера */
  width: 13px;
}
@media (max-width: 1230px) {
  .column-item-list__button img {
    width: calc(8px + 5 * ((100vw - 320px) / 910));
  }
}

.column-item-buttons__item:not(:last-child) {
  margin-right: 20px;
}
@media (min-width: 768.2px) {
  .column-item-buttons__item {
    min-height: 60px;
  }
}
.column-item-buttons__item_second {
  border: 1px solid #373D40;
  background-color: transparent;
  color: #fff;
}
@media (any-hover: hover) {
  .column-item-buttons__item_second {
    transition: background-color 0.3s ease 0s;
  }
  .column-item-buttons__item_second:hover {
    background-color: #373D40;
  }
}

.column-item-awards__input {
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  min-height: 60px;
  /* Если меньше контейнера */
  border-radius: 16px;
  background-color: #373D40;
  font-size: 14px;
  font-weight: 400;
  line-height: 121.4285714286%;
  text-align: center;
  color: #fff;
}
@media (max-width: 1230px) {
  .column-item-awards__input {
    border-radius: calc(8px + 8 * ((100vw - 320px) / 910));
  }
}
.column-item-awards__input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 121.4285714286%;
  text-align: center;
  color: #7B848D;
}
.column-item-awards__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 121.4285714286%;
  text-align: center;
  color: #7B848D;
}
.column-item-awards__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 121.4285714286%;
  text-align: center;
  color: #7B848D;
}
@media (min-width: 480.2px) {
  .column-item-awards__input:not(:last-child) {
    /* Если меньше контейнера */
    margin-right: 25px;
  }
}
@media (min-width: 480.2px) and (max-width: 1230px) {
  .column-item-awards__input:not(:last-child) {
    margin-right: calc(15px + 10 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 480.2px) {
  .column-item-awards__input {
    min-height: 70px;
  }
  .column-item-awards__input:not(:last-child) {
    margin-bottom: 20px;
  }
}
.column-item-awards__button {
  padding-right: 50px;
  padding-left: 50px;
  min-height: 60px;
  cursor: copy;
}
.column-item-awards__button:disabled {
  cursor: no-drop;
}
@media (max-width: 480.2px) {
  .column-item-awards__button {
    width: 100%;
    min-height: 50px;
  }
}

.column-item-blocks__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column-item-blocks__image {
  flex: 1 1 100%;
}
.column-item-blocks__image img {
  max-width: 100%;
}
.column-item-blocks__image:not(:last-child) {
  margin-bottom: 25px;
}
@media (any-hover: hover) {
  .column-item-blocks__image img {
    transition: transform 0.3s ease 0s;
  }
  .column-item-blocks__image:hover img {
    transform: scale(0.95);
  }
}
.column-item-blocks__text-block {
  display: flex;
  align-items: center;
}
.column-item-blocks__text {
  font-size: 22px;
  font-weight: 600;
  line-height: 122.7272727273%;
  text-align: center;
}
.column-item-blocks__text:not(:last-child) {
  margin-right: 8px;
}
.column-item-blocks__icon {
  width: 18px;
  height: 18px;
  display: block;
}
.column-item-blocks__icon img {
  max-width: 100%;
}

.faqs__body {
  /* Если меньше контейнера */
  padding-top: 50px;
  /* Если меньше контейнера */
  padding-right: 50px;
  /* Если меньше контейнера */
  padding-left: 50px;
  /* Если меньше контейнера */
  padding-bottom: 50px;
  /* Если меньше контейнера */
  border-radius: 30px;
  border: 1px solid #373D40;
  background-color: #1C1E20;
}
@media (max-width: 1230px) {
  .faqs__body {
    padding-top: calc(25px + 25 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .faqs__body {
    padding-right: calc(15px + 35 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .faqs__body {
    padding-left: calc(15px + 35 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .faqs__body {
    padding-bottom: calc(25px + 25 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .faqs__body {
    border-radius: calc(15px + 15 * ((100vw - 320px) / 910));
  }
}
.faqs__title {
  /* Если меньше контейнера */
  font-size: 26px;
  font-weight: 600;
  line-height: 123.0769230769%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1230px) {
  .faqs__title {
    font-size: calc(18px + 8 * ((100vw - 320px) / 910));
  }
}
.faqs__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 30px;
}
@media (max-width: 1230px) {
  .faqs__title:not(:last-child) {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 910));
  }
}
.faqs__column {
  display: flex;
  flex-direction: column;
}

.faqs-column__item {
  /* Если меньше контейнера */
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 1px solid #373D40;
}
@media (max-width: 1230px) {
  .faqs-column__item {
    padding-bottom: calc(20px + 5 * ((100vw - 320px) / 910));
  }
}
.faqs-column__item:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 25px;
}
@media (max-width: 1230px) {
  .faqs-column__item:not(:last-child) {
    margin-bottom: calc(20px + 5 * ((100vw - 320px) / 910));
  }
}
.faqs-column__button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
}
.faqs-column__button._active .faqs-column__button-arrow {
  transform: rotate(0deg);
}
.faqs-column__button-arrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease 0s;
}
.faqs-column__button-arrow:not(:last-child) {
  /* Если меньше контейнера */
  margin-right: 20px;
}
@media (max-width: 1230px) {
  .faqs-column__button-arrow:not(:last-child) {
    margin-right: calc(10px + 10 * ((100vw - 320px) / 910));
  }
}
.faqs-column__button-text {
  /* Если меньше контейнера */
  font-size: 22px;
  font-weight: 500;
  line-height: 122.7272727273%;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
@media (max-width: 1230px) {
  .faqs-column__button-text {
    font-size: calc(14px + 8 * ((100vw - 320px) / 910));
  }
}
.faqs-column__content {
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0em;
  text-align: left;
  color: #7B848D;
}
@media (max-width: 1230px) {
  .faqs-column__content {
    font-size: calc(12px + 4 * ((100vw - 320px) / 910));
  }
}
.faqs-column__content:not(:first-child) {
  /* Если меньше контейнера */
  margin-top: 25px;
}
@media (max-width: 1230px) {
  .faqs-column__content:not(:first-child) {
    margin-top: calc(10px + 15 * ((100vw - 320px) / 910));
  }
}

@media (min-width: 768.2px) {
  .graph__body {
    /* Если меньше контейнера */
    padding-top: 30px;
    /* Если меньше контейнера */
    padding-right: 80px;
    /* Если меньше контейнера */
    padding-left: 40px;
    /* Если меньше контейнера */
    padding-bottom: 50px;
    border: 1px solid #373D40;
    border-radius: 30px;
    background-color: #1C1E20;
  }
}
@media (min-width: 768.2px) and (max-width: 1230px) {
  .graph__body {
    padding-top: calc(10px + 20 * ((100vw - 320px) / 910));
  }
}
@media (min-width: 768.2px) and (max-width: 1230px) {
  .graph__body {
    padding-right: calc(0px + 80 * ((100vw - 320px) / 910));
  }
}
@media (min-width: 768.2px) and (max-width: 1230px) {
  .graph__body {
    padding-left: calc(0px + 40 * ((100vw - 320px) / 910));
  }
}
@media (min-width: 768.2px) and (max-width: 1230px) {
  .graph__body {
    padding-bottom: calc(0px + 50 * ((100vw - 320px) / 910));
  }
}
.graph__header {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768.2px) {
  .graph__header {
    flex-direction: column;
  }
}
@media (max-width: 768.2px) {
  .graph__header {
    justify-content: space-between;
    align-items: center;
  }
}
.graph__header:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 40px;
}
@media (max-width: 1230px) {
  .graph__header:not(:last-child) {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 910));
  }
}
.graph__title {
  text-align: center;
  /* Если меньше контейнера */
  font-size: 22px;
  font-weight: 400;
  line-height: 118.1818181818%;
  letter-spacing: 0em;
  text-align: center;
}
@media (max-width: 1230px) {
  .graph__title {
    font-size: calc(16px + 6 * ((100vw - 320px) / 910));
  }
}
@media (min-width: 768.2px) {
  .graph__title:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 768.2px) {
  .graph__title:not(:last-child) {
    margin-right: 10px;
  }
}
.graph__title_bold {
  font-weight: 600;
}
.graph__tabs {
  /* Если меньше контейнера */
  row-gap: 15px;
  /* Если меньше контейнера */
  -moz-column-gap: 15px;
       column-gap: 15px;
  display: grid;
  grid-template-columns: repeat(4, -webkit-max-content);
  grid-template-columns: repeat(4, max-content);
  grid-auto-flow: column;
}
@media (max-width: 1230px) {
  .graph__tabs {
    row-gap: calc(5px + 10 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .graph__tabs {
    -moz-column-gap: calc(5px + 10 * ((100vw - 320px) / 910));
         column-gap: calc(5px + 10 * ((100vw - 320px) / 910));
  }
}
@media (min-width: 768.2px) {
  .graph__tabs {
    padding-left: 40px;
  }
}
.graph-tabs__item {
  /* Если меньше контейнера */
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  transition: background-color 0.3s ease 0s;
  border: 1px solid #373D40;
  background-color: transparent;
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 400;
  line-height: 118.75%;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
@media (max-width: 1230px) {
  .graph-tabs__item {
    padding: calc(8px + 2 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .graph-tabs__item {
    font-size: calc(12px + 4 * ((100vw - 320px) / 910));
  }
}
.graph-tabs__item._active {
  background-color: #373D40;
}

@media (min-width: 1920.2px) {
  .graph-items__content {
    height: 420px;
  }
}
@media (max-width: 1920.2px) and (min-width: 768.2px) {
  .graph-items__content {
    /* Всегда */
    height: calc(260px + 160 * ((100vw - 320px) / 1320));
  }
}
@media (max-width: 768.2px) {
  .graph-items__content {
    /* Если меньше контейнера */
    height: 360px;
  }
}
@media (max-width: 768.2px) and (max-width: 1230px) {
  .graph-items__content {
    height: calc(260px + 100 * ((100vw - 320px) / 910));
  }
}

#graph-tooltip {
  padding: 8px 4px;
  border-radius: 4px;
  background-color: #535353;
}
#graph-tooltip:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #535353;
}

.graph-tooltip__data {
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  line-height: 114.2857142857%;
  font-weight: 400;
  color: #afafaf;
}
.graph-tooltip__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 128.5714285714%;
  color: #fff;
}

.page {
  /* Если меньше контейнера */
  padding-top: 190px;
  /* Если меньше контейнера */
  padding-bottom: 120px;
  position: relative;
  flex: 1 1 auto;
}
@media (max-width: 1230px) {
  .page {
    padding-top: calc(105px + 85 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .page {
    padding-bottom: calc(70px + 50 * ((100vw - 320px) / 910));
  }
}
.page:before {
  content: "";
  /* Если меньше контейнера */
  width: 500px;
  /* Если меньше контейнера */
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
  pointer-events: none;
  transform: translateY(-50%);
  filter: blur(250px);
  background: #0075FF;
}
@media (max-width: 1230px) {
  .page:before {
    width: calc(320px + 180 * ((100vw - 320px) / 910));
  }
}
@media (max-width: 1230px) {
  .page:before {
    height: calc(320px + 180 * ((100vw - 320px) / 910));
  }
}
.page__start:not(:last-child) {
  margin-bottom: 70px;
}
.page__graph:not(:last-child) {
  margin-bottom: 70px;
}
.page__column:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 70px;
}
@media (max-width: 1230px) {
  .page__column:not(:last-child) {
    margin-bottom: calc(30px + 40 * ((100vw - 320px) / 910));
  }
}
.page__faqs:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 70px;
}
@media (max-width: 1230px) {
  .page__faqs:not(:last-child) {
    margin-bottom: calc(30px + 40 * ((100vw - 320px) / 910));
  }
}